@font-face {
  font-family: "OpenSans-Regular";
  src: url("./fonts/opensans/opensans-regular/OpenSans-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url("./fonts/opensans/opensans-bold/OpenSans-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotoregular";
  src: url("./fonts/roboto/roboto-regular/Roboto-Regular-webfont.woff")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotobold";
  src: url("./fonts/roboto/roboto-bold/Roboto-Bold-webfont.woff")
    format("woff2");

  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "firacode-regular";
  src: url("./fonts/firacode/firacode-regular/FiraCode-Regular.woff2")
    format("woff");

  font-weight: normal;
  font-style: normal;
}
:root {
  --font-roboto: "robotoregular";
  --font-opensans: "OpenSans-Regular";
  --font-firacode: "firacode-regular";
  --font-roboto-bold: "robotobold";
  --font-opensans-bold: "OpenSans-Bold";
  --fontSize: 13px;

  --h4Color: #b9e3ff;

  --shellBg: black;
  --shellTextColor: #03b903;
  --shellPadding: 10px;
}
html,
body {
  margin: 0;
  padding: 10px;
  background-color: #161616;
  color: white;
}

body {
  font-family: var(--font-opensans);
  font-size: var(--fontSize);
}

.content {
  background-color: transparent;
  /*  display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
*/
}

.nav_main a {
  color: white;
}

.nav_main a i {
  font-size: 1.6em;
}

.list summary:hover {
  cursor: pointer;
}
.list details ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list details li {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  max-width: 50px;
  text-align: center;
}
.list details li:hover {
  text-decoration: underline;
}
.list details li a {
  text-decoration: none;
  color: white;
}
.list details li a img {
  width: 36px;
  height: 36px;
}
.list summary {
  display: inline-block;
}
.list summary div {
  display: flex;
  justify-content: space-between;
}
.list summary img,
.toc li img {
  width: 16px;
  height: 16px;
}
.list summary .lbl {
  padding-left: 10px;
}

ol.steps li {
  padding: 5px;
}

ol.steps li img {
  display: block;
  max-width: 100%;
  height: auto;
}

pre.shell {
  background: var(--shellBg);
  color: var(--shellTextColor);
  padding: var(--shellPadding);
}

pre.code {
  background: black;
  color: rgb(255, 145, 0);
  background: black;

  padding: 10px;
}

ol.toc > li > a {
  color: white;
}

ol.toc a {
  text-decoration: none;
  color: white;
}

ol.toc a:hover {
  text-decoration: underline;
}

ol.toc li {
  padding: 3px;
  color: white;
}

ol.toc li ol li,
ol.toc li ol li a {
  color: rgb(141, 141, 141);
}

.content table {
  /* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; */
  border-collapse: collapse;
  display: inline;
  margin: 10px;
}

.content table caption {
  padding: 10px;
  font-weight: bold;
  font-size: 1.3em;
}

.content table tr:nth-child(even) {
  background-color: #f2f2f223;
}

.content table tr:hover {
  background-color: rgba(221, 221, 221, 0.253);
}

.content td,
.content th {
  border: 1px solid rgba(221, 221, 221, 0.384);
  padding: 8px;
}

.content th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(255, 255, 255, 0.692);
  color: black;
  font-weight: bold;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(70, 70, 70);
  outline: 1px solid slategrey;
}

.bgWhite {
  background-color: white;
}

.bgWhite span {
  color: black;
  font-size: 0.7em;
}

.circle {
  border-radius: 50%;
}

.noIcon {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
}

.margin10 {
  margin: 10px;
}

.hl {
  background-color: rgb(54, 54, 54);
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  /* font-family: Arial, Helvetica, sans-serif; */
}
.space_between {
  display: flex;
  justify-content: space-between;
}
.space_between > div {
  flex-grow: 1;
  /* border:1px solid gray; */
  padding: 10px;
}
.space_between h4.space_between p {
  text-align: center;
}
.keyword {
  font-family: "Courier New", Courier, monospace;
  color: yellowgreen;
  text-shadow: 0px 2px 1px black;
}
b {
  color: rgb(255, 153, 0);
  font-weight: normal;
  text-shadow: 0px 2px 1px black;
}
section h4 {
  color: var(--h4Color);
  text-shadow: 0px 2px 1px black;
  margin-bottom: 0;
  padding-bottom: 0;
}
section p {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
}
pre code {
  font-family: var(--font-firacode);
}

.content section a {
  color: orange;
}
.content section a::before {
  font-family: "FontAwesome";
  content: " \f08e";
  padding-right: 5px;
}
details summary {
  cursor: pointer;
}
img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.content a:visited {
  color: white;
}
.preview {
  display: flex;
  flex-wrap: wrap;
}
.preview details {
  padding: 5px;
}
.preview details > summary {
  list-style: none;
}
.preview details > summary::-webkit-details-marker {
  display: none;
}
.preview details summary img {
  width: 100px;
  height: 100px;
}
