@import url("../../../css/font-awesome/css/all.min.css");

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../../../css/fonts/opensans/opensans-regular/OpenSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../../../css/fonts/opensans/opensans-bold/OpenSans-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotoregular";
  src: url("../../../css/fonts/roboto/roboto-regular/Roboto-Regular-webfont.woff") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotobold";
  src: url("../../../css/fonts/roboto/roboto-bold/Roboto-Bold-webfont.woff") format("woff2");

  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "firacode-regular";
  src: url("../../../css/fonts/firacode/firacode-regular/FiraCode-Regular.woff2") format("woff");

  font-weight: normal;
  font-style: normal;
}
:root {
  --font-roboto: "robotoregular";
  --font-opensans: "OpenSans-Regular";
  --font-firacode: "firacode-regular";
  --font-roboto-bold: "robotobold";
  --font-opensans-bold: "OpenSans-Bold";

  --gradient-carbon-fiber-1: radial-gradient(circle at center center, transparent, rgb(33, 33, 33)),
    repeating-linear-gradient(
      135deg,
      rgb(33, 33, 33) 0px,
      rgb(33, 33, 33) 2px,
      transparent 2px,
      transparent 10px,
      rgb(33, 33, 33) 10px,
      rgb(33, 33, 33) 11px,
      transparent 11px,
      transparent 21px
    ),
    repeating-linear-gradient(45deg, rgb(47, 47, 47) 0px, rgb(47, 47, 47) 4px, transparent 4px, transparent 8px),
    linear-gradient(90deg, rgb(33, 33, 33), rgb(33, 33, 33));

  --gradient-carbon-fiber-2: radial-gradient(circle at center center, rgba(33, 33, 33, 0), rgb(33, 33, 33)),
    repeating-linear-gradient(135deg, rgb(33, 33, 33) 0px, rgb(33, 33, 33) 1px, transparent 1px, transparent 4px),
    repeating-linear-gradient(45deg, rgb(56, 56, 56) 0px, rgb(56, 56, 56) 5px, transparent 5px, transparent 6px),
    linear-gradient(90deg, rgb(33, 33, 33), rgb(33, 33, 33));
}
